<!-- This is the header syntax -->
<link rel="stylesheet" href="/css/header.css">
<div>
    <div class="navBar">
        <div class="navbar-left-side">
            <a href="/"><img src="/images/erp_logo.jpg"alt="erp">
            </a>
            <a href="/" class="org-name">ERP
            </a>
        </div>
        <% if (locals.user){ %>
            
                <div class="navbar-middle-side">
                    <%if(locals.user.isAdmin){%>
                    <div class="navbar-button"><a href="/"> <span>Home</span> </a></div>    
                    <div class="navbar-button"><a href="/admin/assignWork"> <span>Assign Task</span> </a></div>
                    <div class="navbar-button"><a href="/admin/view-employee"> Employees </a></div>
                    <div class="navbar-button"><a href="/admin/employee/add-page">  Add Employee  </a></div>
                    <%}%>
                    
                </div>
               



                <div class="navbar-right-side">
                    <div class="navbar-button"><a href="/users/sign-out">LogOut </a></div>
                    <div class="profile-container">
                        <span>Welcome</span>
                        <span class="user-name"><%= locals.user.name%></span>
                    </div>
                </div>
         
            <%} else { %>
                            <div class="navbar-right-side">
                                    <div class="navbar-button"><a href="/users/sign-in"> Sign-In </a></div>
                                    <div class="navbar-button"><a href="/users/sign-up"> Sign-Up </a> </div> 
                            </div>

            <%}%>
    </div>
</div>