<!-- Including an external CSS file for styling -->
<link rel="stylesheet" href="/css/sign.css">

<!-- Outer container for the form -->
<div class="login-page-container ">

    <div class="login-form-container review-container">
        <!-- Display the name of the user with pending review -->
        <h2>
            To : <%= userWithPendingReview.name %>
        </h2>

        <!-- Form for adding a new review -->
        <form class="login-form" action="/reviews/add/<%= userWithPendingReview._id %>" method="post">
            <div>
                <!-- Text area for entering the review content -->
                <textarea class="input-box text-area-box" placeholder="Review, here !" name="newReview" rows="5"
                    id=""></textarea>



                <div class="select-container">
                    <!-- Label and select dropdown for selecting the review rating -->
                    <select class="input-box" id="rating" name="rating" required>
                        <option value="" disabled selected hidden>Rate Employee &#9733;</option>
                        <!-- Options for ratings with star symbols -->
                        <option value="1">1 &#9733;</option>
                        <option value="2">2 &#9733;</option>
                        <option value="3">3 &#9733;</option>
                        <option value="4">4 &#9733;</option>
                        <option value="5">5 &#9733;</option>
                    </select>
                </div>
                <!-- Hidden input field to store the reviewer's ID -->
                <input type="hidden" value="<%= locals.user._id %>" name="reviewer">
            </div>

            <div class='login-form-button-container'>
                <div class='btn-light'>
                    <button type="submit" class="submitHomeButton"> Submit </button>
                </div>
            </div>
            <!-- Button to submit the review -->

        </form>
    </div>
</div>