<link rel="stylesheet" href="/css/home.css">
<style>
    .outerBox{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2%;
    }
</style>
<div class="outerBox">
    
    <div class="innerBox">
        <h6>
            To : <%= userWithPendingReview.name%>
        </h6>
        <form action="/reviews/add/<%= userWithPendingReview._id %>" method="post">
            <textarea class="formClass" placeholder="Review, here !" name="newReview"
                rows="5" id="">
            </textarea>
            <br>
            <label for="rating">Rating:</label> &nbsp;
            <select id="rating" name="rating" required>
              <option value="1">1&#9733;</option>
              <option value="2">2&#9733;</option>
              <option value="3">3&#9733;</option>
              <option value="4">4&#9733;</option>
              <option value="5">5&#9733;</option>
            </select><br>
            <input type="hidden" value="<%=locals.user._id%>" name="reviewer">
            <br>
            <button type="submit" class="submitHomeButton"> Submit </button>
        </form>
    </div>
</div>