<div class="outerBox">
    <h6>
        To : <%= userWithPendingReview.name%>
    </h6>
    <div class="innerBox">
        <form action="/reviews/add/<%= userWithPendingReview._id %>" method="post">
            <textarea class="formClass" placeholder="Review, here !" name="newReview"
                rows="5" id="">
            </textarea>
            <div class="rating">
                Ratings
                <input type="radio" id="star1" name="rating" value="1" /><label
                    for="star1">1 &#9733;</label>
                <input type="radio" id="star2" name="rating" value="2" /><label
                    for="star2">2 &#9733;</label>
                <input type="radio" id="star3" name="rating" value="3" /><label
                    for="star3">3 &#9733;</label>
                <input type="radio" id="star4" name="rating" value="4" /><label
                    for="star4">4 &#9733;</label>
                <input type="radio" id="star5" name="rating" value="5" /><label
                    for="star5">5 &#9733;</label>

            </div>
            <input type="hidden" value="<%=locals.user._id%>" name="reviewer">
            <br>
            <button type="submit" class="submitHomeButton"> Submit </button>
        </form>
    </div>
</div>