<link rel="stylesheet" href="/css/sign.css">
<div class="login-page-container ">
    <div class="login-form-container">
        <h2> Add Employee Form </h2>
        <form method="POST" class="login-form" action="/admin/employee/add" >
            <div>
            <input class="input-box" type="Name" name="name" placeholder="Enter name" required><br>
                <input class="input-box" type="email" name="email" placeholder="Enter email" required><br>
                <input class="input-box" type="password" name="password" placeholder="Enter password" required><br>
                <input class="input-box" type="password" name="confirmPassword" placeholder="Confirm password" required><br>
               <!-- <div style="height: 20px; margin-top: 5px;"> <button style="width: 100px; margin-left: 50px; height: 30px;"  type="submit">Sign Up</button></div> -->
            </div>
            <div class= 'login-form-button-container'>
                <!-- <div class="forgetPassword"><a href="/users/forgetPassword"> ForgetPassword </a></div> -->
                <div class='btn-light'><button type="submit">Add</button></div>
            </div>
    </div>
</div>