<link rel="stylesheet" href="/css/sign.css">

<div class="login-page-container ">

    <div class="login-form-container task-container">

        <div>
            <h2>Assign Task</h2>
           
        </div>
        <div class="info-container">
            <small>
                Delegate the responsibility of evaluating an employee's performance to a different set of employees for the review process.</small>
        </div>
        <form action="/admin/map-performance-reviewer-reviewee" method="POST" class="login-form">

            <div class="select-container">
                <select class="input-box" aria-label="Default select example" aria-placeholder="Set Reviewer"
                    name="reviewer">
                    <option value="" disabled selected hidden>Select Reviwer</option>
                    <% for(let i=0; i<employe.length ; i++){ %>

                        <option value=<%=employe[i].id %> > <%= employe[i].name %>
                        </option>

                        <%}%>
                </select>
            </div>

            <div class="reviewee">

                <select class="input-box" aria-label="Default select example" name="reviewee">
                    <option value="" disabled selected hidden>Select Reviwee</option>
                    <% for(let i=0; i<employe.length ; i++){ %>

                        <option value=<%=employe[i].id %> > <%= employe[i].name %>
                        </option>

                        <%}%>
                </select>
            </div>
            <div class='login-form-button-container'>
                <div class='btn-light'>
                    <button type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>