<link rel="stylesheet" href="/css/admin.css">
<div class="container-fluid mt-2">
    <div class="heading">Assign employees to participate in another employee's performance review</div>
    <div class="reviewContainer">

        <div class="reviewer">

            <div class="text-center">
                Assign Task

            </div>
            <hr>
            <form action="/admin/map-performance-reviewer-reviewee" method="POST" class="mt-1 card-body">
                <div>
                    Set Reviewer
                    <select class="form-select form-select" aria-label="Default select example" name="reviewer">
                        
                        <% for(let i = 0; i<employe.length ; i++){ %>
                            
                            <option value= <%= employe[i].id %> > <%= employe[i].name %> </option>
                            
                        <%}%>    
                    </select>
                </div>

                <div class="reviewee">
                  Select Employee to be Reviewed
                    <select class="form-select form-select" aria-label="Default select example" name="reviewee">
                       
                        <% for(let i = 0; i<employe.length ; i++){ %>
                        
                            <option value= <%= employe[i].id %> > <%= employe[i].name %> </option>
                            
                        <%}%>
                    </select>
                </div>

                <div class="submitButtons">
                    <button type="submit">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>