<link rel="stylesheet" href="/css/sign.css">
<div class="mainContainer ">
    <div class="companyLogo">
        <img src="../images/logo.png">
    </div>

    <div class="formInput">
        <h1> Welcome </h1>
        <% if(locals.oldEmployeeDetails) {%>
            <form method="POST" action="/users/update-employee">
                <input type="hidden" name="_id" value="<%= locals.oldEmployeeDetails._id %>">
                <input type="text" name="name" value="<%= locals.oldEmployeeDetails.name %>" placeholder="Enter name"
                    required><br>
                <input type="email" name="email" value="<%= locals.oldEmployeeDetails.email %>" placeholder="Enter email"
                    required><br>
                <input type="password" name="password" placeholder="Enter new password"><br>
                <input type="password" name="confirmPassword" placeholder="Confirm new password"><br>
                <div class="submitButtons">
                    <button type="submit">Update</button>
                </div>
            </form>
        <% }%>
    </div>
</div>