<link rel="stylesheet" href="/css/sign.css">
<div class="login-page-container ">

    <div class="login-form-container">
        <h2> Login Form </h2>
        <form method="POST" class="login-form" action="/users/create-session" >
            <div>
                <input type="email" class="input-box" name="email" placeholder="Enter email" required><br>
                <input type="password" class="input-box" name="password" placeholder="Enter password" required><br>
               
            </div>
            
            <div class= 'login-form-button-container'>
                <div class = 'btn-light'><button class="" type="submit">Sign In</button></div>
                <div class="btn-light"><a class="button-width" href="/users/sign-up"> Register</a></div> 
            </div>
        </form>
    </div>
</div> 