:root {
  --main-color: #2c3e50;
  font: 12px sans-serif;
  --box-shadow-dark: 0px 0px 16px rgb(12 12 12 / 80%);
}

/* Example CSS for the navigation bar */
.navBar {
  background-color: #2c3e50;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left-side {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
}

.navbar-left-side img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.navbar-left-side a {
  margin-left: 5px;
  text-decoration: none;
  font-weight: bolder;
}

.org-name {
  text-align: center;
  color: white;
}

.navbar-right-side {
  /* width: 50%; */
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 3px;
  margin: 0px 5px;
}

.navbar-middle-side {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 3px;
  margin: 0px 5px;
}

.btn-light {
  height: 30px;
  text-decoration: none;
  padding: 2px 5px;
  margin: 5px;
  border-radius: 2px;
  background-color: aliceblue;
  color: #2c3e50;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 11px rgb(243 239 239 / 80%);
}

.btn-dark {
  height: 30px;
  text-decoration: none;
  padding: 2px 5px;
  margin: 5px;
  border-radius: 2px;
  background-color: var(--main-color);
  color: white;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 11px rgb(243 239 239 / 80%);
}

.btn-dark a {
  color: white;
}

.btn-active {
  height: 30px;
  text-decoration: none;
  padding: 2px 5px;
  margin: 5px;
  border-radius: 3px;
  max-width: 80px;
  background-color: #d7f8ed;
  border: 1px solid #67d9b4;
  /* color: rgba(115, 243, 51, 0.934); */
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 11px rgb(243 239 239 / 80%);
}

.btn-active a {
  color: #0fb882;
}

.btn-disable {
  height: 30px;
  text-decoration: none;
  padding: 2px 5px;
  margin: 5px;
  border-radius: 2px;
  background-color: #e7ebed;
  border: 1px solid #9ba3b2;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 11px rgb(243 239 239 / 80%);
}
.btn-disable a {
  color: #717988;
}

.navbar-button {
  height: 30px;
  text-decoration: none;
  padding: 2px;
  margin: 5px;
  border-radius: 2px;
  background-color: aliceblue;
  color: #2c3e50;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 11px rgb(243 239 239 / 80%);
}

.navbar-button a {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-color);
  padding: 3px 10px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 20px;
}
.user-name {
  font-weight: bolder;
  font-size: 12px;
}

.input-box {
  padding: 3px;
  padding-left: 10px;
  /* border: 1px solid var(--main-color); */
  border: 0px;
  background-color: transparent;
  border-bottom: 1px solid white;
  font-size: small;
  width: 90%;
  height: 35px;
  color: white;
  margin: 10px 0px;
  /* box-shadow: 0px 0px 11px rgb(243 239 239 / 80%); */
}
.input-box::placeholder {
  color: white;
}

input:focus-visible {
  outline: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-color);
}

.button-width {
  width: 98px;
}

button {
  border: none;
  background: transparent;
  width: 98px;
  color: var(--main-color);
  font-weight: bold;
}

button:hover {
  color: #0a58ca;
}

.my-review-table-container {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  width: 80vw;
  width: 100%;
  min-width: 80vw;
  margin: auto;
  border-collapse: collapse;
  border: 1px solid #ccc;
  background-color: white;
}
th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left; 
}

.center-content{
    margin-left: 33%;
}

th {
  background-color: var(--main-color);
  color: white;
}

tr:nth-child(2n+1){
    background-color: #9294970d;
}

tr:hover{

    background-color: #d7f8ed;;
}

th:last-child,
td:last-child {
  text-align: center;
}
a {
  text-decoration: none;
  color: #007bff;
}

.anchor-container{
  width: 80px;
  max-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

select:focus-visible{
  outline: none;
}

select option[disabled]{
  display: none;
}