

/* The styling for sign-in / sign-up / forgetPassword is same */
/* It is the main container */
.login-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top:10vh; */
    min-width: 400px;
    height: 85vh;
}

.login-form-container{
    background-color: var(--main-color);
    min-width: 300px;
    padding: 10px;
    padding-bottom:20px ;
    min-height: 250px;
    color: white;
    text-align: center;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: var(--box-shadow-dark);
}

.login-form-button-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info-container{
    margin: 5%;
  text-align: center;
  color: #7eb3ec;
  font-weight: bold;

}
.task-container{
    margin-top: 0px;
}

.text-area-box{
    height: 120px;
    border: 1px solid white;
}

option{
    background-color: transparent;
}

option {
    background-color: var(--main-color);
    color: white;

}

.review-container{
    min-width: 400px;
}

textarea:focus-visible{
    outline: none;
}